In [1]:
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('Midterm_53_group.csv')

In [3]:
data

,Time,Source,No.,Destination,Protocol,Length,Info
0,0.000000,192.167.8.166,1,192.167.255.255,NBNS,92,Name query NB WPAD<00>
1,0.784682,192.167.8.166,2,192.167.255.255,NBNS,92,Name query NB WPAD<00>
2,1.169060,VMware_8a:5c:e6,3,Broadcast,ARP,60,Who has 192.167.7.175? Tell 192.167.0.1
3,2.167949,VMware_8a:5c:e6,4,Broadcast,ARP,60,Who has 192.167.7.175? Tell 192.167.0.1
4,3.170095,VMware_8a:5c:e6,5,Broadcast,ARP,60,Who has 192.167.7.175? Tell 192.167.0.1
...,...,...,...,...,...,...,...
394131,1255.897236,192.167.7.162,394132,192.167.7.164,ICMP,98,"Echo (ping) request id=0x6592, seq=1177/39172..."
394132,1255.897921,192.167.7.164,394133,192.167.7.162,ICMP,98,"Echo (ping) reply id=0x6592, seq=1177/39172..."
394133,1255.993209,192.167.7.162,394134,142.250.190.97,TCP,74,[TCP Retransmission] [TCP Port numbers reused]...
394134,1256.921232,192.167.7.162,394135,192.167.7.164,ICMP,98,"Echo (ping) request id=0x6592, seq=1178/39428..."
394135,1256.922008,192.167.7.164,394136,192.167.7.162,ICMP,98,"Echo (ping) reply id=0x6592, seq=1178/39428..."

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394136 entries, 0 to 394135
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Time         394136 non-null  float64
 1   Source       394136 non-null  object
 2   No.          394136 non-null  int64
 3   Destination  394136 non-null  object
 4   Protocol     394136 non-null  object
 5   Length       394136 non-null  int64
 6   Info         394136 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 21.0+ MB

In [5]:
data.describe()

                Time            No.         Length
count  394136.000000  394136.000000  394136.000000
mean      781.599378  197068.500000     985.577027
std       263.603332  113777.407185     837.371336
min         0.000000       1.000000      42.000000
25%       558.184351   98534.750000      60.000000
50%       781.926020  197068.500000    1462.000000
75%       986.280803  295602.250000    1514.000000
max      1256.922008  394136.000000   49745.000000

In [6]:
data.isnull

<bound method DataFrame.isnull of                Time           Source     No.      Destination Protocol  \
0          0.000000    192.167.8.166       1  192.167.255.255     NBNS
1          0.784682    192.167.8.166       2  192.167.255.255     NBNS
2          1.169060  VMware_8a:5c:e6       3        Broadcast      ARP
3          2.167949  VMware_8a:5c:e6       4        Broadcast      ARP
4          3.170095  VMware_8a:5c:e6       5        Broadcast      ARP
...             ...              ...     ...              ...      ...
394131  1255.897236    192.167.7.162  394132    192.167.7.164     ICMP
394132  1255.897921    192.167.7.164  394133    192.167.7.162     ICMP
394133  1255.993209    192.167.7.162  394134   142.250.190.97      TCP
394134  1256.921232    192.167.7.162  394135    192.167.7.164     ICMP
394135  1256.922008    192.167.7.164  394136    192.167.7.162     ICMP

        Length                                               Info
0           92                             Name query NB WPAD<00>
1           92                             Name query NB WPAD<00>
2           60            Who has 192.167.7.175? Tell 192.167.0.1
3           60            Who has 192.167.7.175? Tell 192.167.0.1
4           60            Who has 192.167.7.175? Tell 192.167.0.1
...        ...                                                ...
394131      98  Echo (ping) request  id=0x6592, seq=1177/39172...
394132      98  Echo (ping) reply    id=0x6592, seq=1177/39172...
394133      74  [TCP Retransmission] [TCP Port numbers reused]...
394134      98  Echo (ping) request  id=0x6592, seq=1178/39428...
394135      98  Echo (ping) reply    id=0x6592, seq=1178/39428...

[394136 rows x 7 columns]>

In [7]:
data.shape

(394136, 7)

In [8]:
data = data.fillna(method='ffill')

In [9]:
X = data[['Time','Length']]

In [10]:
model = IsolationForest(contamination=0.05, random_state=42) 
model.fit(X)

IsolationForest(contamination=0.05, random_state=42)

In [11]:
predictions = model.predict(X)

In [12]:
data['anomaly_prediction_if'] = predictions

In [13]:
anomalies = data[data['anomaly_prediction_if'] == -1]

In [14]:
print(anomalies)

               Time           Source     No.      Destination Protocol  \
0          0.000000    192.167.8.166       1  192.167.255.255     NBNS
1          0.784682    192.167.8.166       2  192.167.255.255     NBNS
2          1.169060  VMware_8a:5c:e6       3        Broadcast      ARP
3          2.167949  VMware_8a:5c:e6       4        Broadcast      ARP
4          3.170095  VMware_8a:5c:e6       5        Broadcast      ARP
...             ...              ...     ...              ...      ...
394131  1255.897236    192.167.7.162  394132    192.167.7.164     ICMP
394132  1255.897921    192.167.7.164  394133    192.167.7.162     ICMP
394133  1255.993209    192.167.7.162  394134   142.250.190.97      TCP
394134  1256.921232    192.167.7.162  394135    192.167.7.164     ICMP
394135  1256.922008    192.167.7.164  394136    192.167.7.162     ICMP

        Length                                               Info  \
0           92                             Name query NB WPAD<00>
1           92                             Name query NB WPAD<00>
2           60            Who has 192.167.7.175? Tell 192.167.0.1
3           60            Who has 192.167.7.175? Tell 192.167.0.1
4           60            Who has 192.167.7.175? Tell 192.167.0.1
...        ...                                                ...
394131      98  Echo (ping) request  id=0x6592, seq=1177/39172...
394132      98  Echo (ping) reply    id=0x6592, seq=1177/39172...
394133      74  [TCP Retransmission] [TCP Port numbers reused]...
394134      98  Echo (ping) request  id=0x6592, seq=1178/39428...
394135      98  Echo (ping) reply    id=0x6592, seq=1178/39428...

        anomaly_prediction_if
0                          -1
1                          -1
2                          -1
3                          -1
4                          -1
...                       ...
394131                     -1
394132                     -1
394133                     -1
394134                     -1
394135                     -1

[19707 rows x 8 columns]